[Unit]
Description=Alarm Control System Service
After=network.target

[Service]
Type=simple
User=pi

# Set the working directory (path to your project)
WorkingDirectory=/home/pi/Documents/AlarmaEdenly

# Use the Python executable from your virtual environment
ExecStart=/home/pi/Documents/AlarmaEdenly/venv/bin/python src/main.py

# Environment variables (optional, if needed)
Environment="PYTHONPATH=/home/pi/Documents/AlarmaEdenly"

# Restart on failure
Restart=on-failure
RestartSec=5s

# Logging (optional)
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=alarm_service

[Install]
WantedBy=multi-user.target